<p>cargo-form works!</p>

<form [formGroup]="cargoForm" (ngSubmit)="submitForm()">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Nro. CUPOF</mat-label>
      <input matInput formControlName="cupof" placeholder="Cupof">
    </mat-form-field>

    <mat-form-field appearance="outline"> 
      <mat-label>Clave del cargo</mat-label>
      <input matInput formControlName="clave" placeholder="Clave">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Rol</mat-label>
      <input matInput formControlName="rol" placeholder="Rol">
    </mat-form-field>

    <mat-form-field appearance="outline"> 
      <mat-label>Área</mat-label>
      <input matInput formControlName="area" placeholder="Área">
    </mat-form-field>
  </div>
  
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Carga Horaria</mat-label>
      <input matInput formControlName="cargaHoraria" placeholder="Carga Horaria">
    </mat-form-field>

    <mat-form-field appearance="outline"> 
      <mat-label>Institución</mat-label>
      <input matInput formControlName="institucion" placeholder="Institución">
    </mat-form-field>
  </div>

  

  <mat-form-field>
    <input matInput formControlName="designacion" placeholder="Designación">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Guardar</button>
</form>
